.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textContainer{
    margin-bottom: 50px;
}
.title{
    font-size: 38px;
}
.infoContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageContainer{
    height: 600px;
    max-height: 600px;
    width: 100%;
    position: relative
}
.image{
    object-fit: cover;
}

.contentSingle{
    display: flex;
    max-width: 1200px;
    align-items: flex-start;
    justify-content: center;
    gap:30px;
}

.post{
    flex: 5;
    margin-top: 50px;
}
.description p{
    font-size: 24px;
    font-weight: 300;
    margin-top:10px;
    margin-bottom: 20px;
}

.description h3{
    font-size: 30px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 16px;
}

@media screen and (max-width:1024px) {
    .container{
        margin-top:30px;
    }
    .textContainer{
    margin-bottom: 30px;
    padding:0px 20px;
}
    .title{
    font-size: 34px;
}
.post{
    margin-top: 30px;
}
    .contentSingle{
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
}
.infoContainer{
    width: 80%;
}
.imageContainer{
    height: 400px;
    width: 96%;
    position: relative;
}
.post{
    flex:1
}

}

@media screen and (max-width:700px) {
    .container{
        margin-top:20px;
    }
    .textContainer{
    margin-bottom: 20px;
    padding:0px 20px;
}
    .title{
    font-size: 28px;
}
.post{
    margin-top: 20px;
}
    .contentSingle{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding:0px 20px 
}
.infoContainer{
    width: 100%;
}
.imageContainer{
    height: 300px;
    width: 100%;
    position: relative;
}
.description p{
    font-size: 18px;
}
.description h2{
    font-size: 22px;
}
.description h3{
    font-size: 24px;
}
}