.container{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
}
.button{
    padding:14px 16px;
    width: 100px;
    border:none;
    cursor:pointer;
    background-color: rgb(243, 143, 12);
    color:white;
}

.button:disabled{
    cursor:not-allowed;
    background-color: rgba(243, 143, 12, 0.466);
}
