.container{
  
}

.title{
    background-color: coral;
    color:white;
    width:100%;
    padding: 5px 10px;
    text-align: center;
    max-width: 1300px;
    margin-left:auto;
    margin-right:auto;
    padding-left:80px;
    padding-right:80px;
    text-transform: capitalize;
}
.content{
  display: flex;
  gap:50px;
  max-width: 1466px;
  margin-left:auto;
  margin-right:auto;
  padding-left:80px;
  padding-right:80px;
  position:relative;
}
@media screen and (max-width:1280px){
  .content{
    max-width:1164px;
  }
  .title{
    max-width: 1064px;
    width: 100%;
  }
}
@media screen and (max-width:1184px){
  .title{
    max-width: 964px;
    width: 100%;
  }
}
@media screen and (max-width:1024px){
  .content{
    max-width: 868px;
    padding-left:40px;
    padding-right: 40px;
  }
  .title{
    max-width: 800px;
    width: 100%;
  }
}