.main {
  display: flex;
}
.categoryHeader {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
}
.categoryHeader.mama {
  background-color: rgb(65, 65, 245);
}
.categoryHeader.dziecko {
  background-color: rgb(223, 115, 196);
}
.categoryHeader.zabawy {
  background-color: rgb(245, 161, 65);
}
.categoryHeader.książki {
  background-color: rgb(67, 185, 13);
}
.categoryTitle {
  margin: 0;
}

.content {
  display: flex;
  gap: 50px;
  max-width: 1466px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .content {
    max-width: 1164px;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    max-width: 868px;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column; /* Stack on smaller screens */
  }
  .categoryHeader {
    font-size: 28px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .categoryHeader {
    font-size: 24px;
    height: 80px;
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
