.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.blueDot{
  width: 100px;
  height: 100px;
  position: absolute;
  top:200px;
  right:-50px;
  background-color: blue;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .blueDot{
      display: none;
    }
}