.categoryList {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.categoryItem {
  padding: 10px 24px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  width: max-content;
}
.error {
  font-size: 14px;
  color: #ef4444;
  margin: 16px 0;
}
